name: "units-test"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
  workflow_dispatch:

jobs:
  test-machine-available:
    runs-on: ubuntu-latest
    steps:
      - uses: sazid/zeuz-actions-check-node-availability@v1.3
        with:
          zeuz_server_host: https://qa.zeuz.ai
          zeuz_api_key: 5a42f54f-ab24-438b-803b-ce03851b21a3
          zeuz_team_id: 2
          zeuz_project_id: PROJ-17
          node_id: sazid.*

  # unit tests
  # unit:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - run: npm ci

  # test action works running from the graph
  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: ./
  #     with:
  #       milliseconds: 1000
